<h1> Admin Portal </h1>


		<%= link_to "Create User", new_admin_member_path, :method => :get %>

		<!-- <h2> Companies </h2>
		<% Company.all.each do |c| %>
			<h4><%= c.name %></h4>
			<%= link_to "Edit", edit_admin_company_path(c), :method => :get %>
		<% end %> -->

